* {
    font-family: 'Sofia Sans', sans-serif;
    font-weight: bold;
}

body {
    background-color: rgb(33,37,41);
}

.contenedorGralInicio {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background: #003973; 
    background: -webkit-linear-gradient(to right, #003973, #e5e5be);
    background: linear-gradient(to right, #003973, #e5e5be);
    background-size: cover;
    height: 95vh;
}

.divInicio {
    padding-left: 1rem;
    color: black;
    font-size: 3rem;
}

.textoInicio {
    font-family: 'Secular One';
    font-size: 3rem;
}

.botonInicio {
    margin-left: 1rem;
}

.spanInicio {
    font-family: 'Secular One';
    color: white;
    font-weight: bold;
    transition: ease-in 1s;
}

.contenedorRedes {
    font-size: 5rem;
    padding: 1rem
}

.contenedorRedes:hover {
    transform: scale(2);
}

.iconoLinkedin:hover {
    color: #0274B3;
}

.iconoGithub:hover {
    color: black;
}

.iconoEmail:hover {
    color: #E2E2BD;
}

.boton:hover {
    border: 1px solid white;
}

@media (max-width: 400px) {
    .contenedorRedes {
        font-size: 3rem;
    }
}

@media (max-width: 990px) {
    .contenedorRedes {
        margin-top: 2rem;
    }
}