* {
    font-family: 'Sofia Sans', sans-serif;
    font-weight: bold;
}

body {
    background-color: rgb(33,37,41);
}

.contenedorGralInicio {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white
}

.divInicio {
    padding-left: 1rem;
    color: black;
    font-size: 3rem;
}

.textoInicio {
    font-family: 'Secular One';
    font-size: 3rem;
}

.botonInicio {
    margin-left: 1rem;
}

.spanInicio {
    font-family: 'Secular One';
    color: white;
    font-weight: bold;
    transition: ease-in 1s;
}

.contenedorRedes {
    font-size: 5rem;
    padding: 1rem
}

.contenedorRedes:hover {
    transform: scale(2);
}

.iconoLinkedin:hover {
    color: #0274B3;
}

.iconoGithub:hover {
    color: black;
}

.iconoEmail:hover {
    color: #AE1333;
}

.boton:hover {
    border: 2px solid white;
}