.contenedor {
    font-size: 1.5rem;
}

h1 {
    font-size: 2.8rem;
    font-weight: bold;
}

.navLink {
    text-decoration: none;
    color: white;
}

.navLink:hover {
    color: #C21432;
}

.botonMenuHamburguesa {
    border: 2px solid white;
    background-color: white;
    color: white
}